.container {
    padding: 50px 50px;
    display: grid;
    height: 100vh;
    grid-template-rows: fit-content(100%);
    grid-template-columns: 60% 30%;
    align-items: center;
    justify-items: start;
    justify-content: space-between;
    grid-template-areas: 
    "headers info"
    "about-me btn";
}

@media(max-width: 768px){
    .container {
        padding: 40px 30px;
        justify-items: center;
        grid-template-columns: none;
        grid-template-rows: (4, auto);
        grid-template-areas: 
        "headers"
        "btn"
        "about-me"
        "info";
    }
}